<div class="row no-horizontal-margin">
  <div class="col-md-5 no-horizontal-padding">
    <h1 class="form-title">Nueva predicción</h1>
  </div>
  <div class="col-md-7 no-horizontal-padding">
    <div class="btn-group pull-right">
      <a href="<%= predictions_path %>" type="button" class="back-index-button btn btn-primary btn-xs">Volver al índice de predicciones</a>
    </div> 
  </div> 
</div>

<div class="row">
  <%= render "form" %>
</div>