<div class="row no-horizontal-margin prediction">
  <p class="what">
    <a alt="prediciendo.com" title="Ir al índice de predicciones" href="<%= predictions_path %>">prediciendo.com</a> es una herramienta para comprobar 
    la fiabilidad y credibilidad de personas, organismos e instituciones a la hora de realizar predicciones.
  </p>
  <p class="what">
    Recopila predicciones que puedan ser verificadas y valida su acierto o su fallo una vez se hayan resuelto en el tiempo.
  </p>
  <p class="what">
    Mantiene un histórico de aciertos y fallos de cada predictor, estableciendo su credibilidad y elaborando un ranking de los mejores predictores.
  </p>
</div>
<div class="row what-index">
  <div class="no-horizontal-margin no-horizontal-padding col-lg-12">
    <a href="<%= predictions_path %>" role="button" class="index-predictions btn btn-primary">
      Ir al índice de predicciones
    </a>
  </div>
</div>
