<% if is_admin %>
  <div class="row no-horizontal-margin">
    <div class="col-md-2 no-horizontal-padding pull-right right">
      <a href="<%= current_path %>" type="button" class="back-index-button btn btn-primary btn-xs"><%= message %></a>
    </div> 
  </div>
<% end %>