<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Cerrar</span>
        </button>
        <h4 class="modal-title" id="contact-modal-label">Contacta con nosotros</h4>
      </div>
      <div class="modal-body">
        <p>
          Si quieres enviarnos una sugerencia, exponernos una duda, o comentarnos cualquier cosa que se te ocurra, 
          puedes hacerlo enviándonos un correo electrónico a 
        </p>
        <p class="email">
          contacto@prediciendo.com
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>